.product-card {
    background-color: rgb(244, 248, 179);
    border: 1em solid #198754;
    margin: 20px;
}

.product-img {
    max-width: 50%;
    max-height: 500px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.navbar-brand {
font-size: 1.5rem; 
}

body {
    background-color: hsl(101, 30%, 73%); 
}